<div class="newsletter columns-8 offset-1">
  <hr class="mobile">
  <h4>More new projects on the way.</h4>
  <p>Want to be notified when new projects are released? Or hear about opportunities for helping seattle.io with new projects?</p><h5>Sign up for our newsletter:</h5>
  <form action="https://tinyletter.com/seattle-io" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/seattle-io', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><input type="text" style="width:200px" name="email" id="tlemail" placeholder="your email address" /><input type="hidden" value="1" name="embed"/><input class="button" type="submit" value="Subscribe" /></form>
</div>